*{
	  margin: 0;
	  padding: 0;
}

header {
	height: 100vh;
	top: 0;
	bottom: 0;
	background-image: url('images/vegas.jpg');
	background-size: cover;
	width: 100%;
	background-position: top;
	background-attachment: fixed;
}

#vegas {
	height: 100vh;
	text-align: center;
	background-size: cover;
	width: 100%;
	background-position: top;
	background-attachment: fixed;
}

body {
	top: 0;
	bottom: 0;
	position: top;

}

#sign {
	width: 40vw;
}

footer {
	height: 100vh;
	top: 0;
	bottom: 0;
	background-image: url('images/pearson.jpg');
	background-size: cover;
	width: 100%;
	background-position: bottom;
	background-attachment: fixed;
}


