/*Pearson in Vegas General Styling*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Grand Hotel', cursive;
	font-size: 2em;
	color: #5a5a5a;
	font-weight: bolder;
	text-align: center;
	margin: .5em;
}

h2 {
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	margin: 0;
	padding: 0;
}

h3 {
   	font-size: 1.25em;
   	font-weight: lighter;
   	text-align: center;
   	margin: .5em 0;
	padding: 0;
	position: relative;
}

/*.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 90%; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 1.5em; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 1.5em; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }*/



/*Header and Navigation*/

#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 4em; 	
	position: fixed;
	margin-top: 0;
}

#nav {float: right; margin-top: 1em; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;	
}

#nav li{
	margin: 1em;	
	float: left;
	padding-left: 0;
}

#nav li a { color: #fff; opacity:0.6; font-size: 1em; text-decoration: none;}
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }

/*Details and Some Elements*/

.quotes {   
   	font-weight: lighter;
   	font-size: 3em;
  	text-align: left;
  	margin: 1em auto;
}
   
 .author_name { margin: 2em 0 0 2em; color: #fff200; font-size: 3em; }  
 .quotes_container, .details_container { width: 90vh; margin: 0 auto; }
 .content{ margin: 0 auto; width: 90%; }

/* SLIDER STYLING*/

#slide1, #slide2{ width: 100%; }
#slide1{
	background:url('../img/vegas.jpg') 100% 0 no-repeat fixed;
	height: 100vh;
	margin: 0;
	padding:0;
	background-size: cover;
}

/*Slide1*/

#sign {
	width: 40%;
	margin-top: 3em;
	z-index: 1;
}

table[id="dateBlock"] {
  max-width: 20%;
  margin: -250px auto;
  margin-right: 10em;
}

td[id="date"] {
	height: 4em;
	color: #fff200;
}

td[id="attendButton"] {
  background: #fff200;
  height: 3em;
}

a {
 text-decoration: none;
 color: #000;
}

#countdownBar {
  width: 100%;
  background: #fff200;
  margin: auto;
  position: absolute;
  bottom: 0;
}

table[id="countdown"]{
  width: 40%;
  background: #fff200;
  margin: auto;
  margin-bottom: 0;
}

.clock {
	font-size: 1.25em;
   	font-weight: bold;
   	text-align: center;
   	margin: 5px 0;
	padding: 0;
	position: relative;
}

#countdown td {
	width: 10em;
}

/*Slide 2*/

#slide2 {
	background-color: #000;
	color: #fff;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 10em 0;
}

/*Slide 3*/

#slide3 {
	background: url(../img/pearson.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	height: 100vh;
	padding: 10em 0 0 0;	
	background-size: cover;
}

#slide4 {
	background-color: #fff200;
	color: #333333;
	height: 85vh;
	padding: 5em 0;
}

form {
	margin: .5em 41% .5em 41%;	
}

input {
	width: 20em;
	height: 3em;
	padding: .5em;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 4px;
}

button {
	background-color: #bbb;
	color: #fff;
	margin: 1em 30%;
	padding: .5em;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #888888;
}

.attendees {   
   	font-size: 2em;
  	text-align: left;
  	margin: 1em auto;
  	list-style: none;
}

.attendees_container { 
	height: 40vh;
	width: 80%;
	margin: .5em 10%; 
	color: #bbb;
	background-color:#FFFFFF; 
	border-radius:8px; 
	box-shadow:10px 10px 5px #888888;
	overflow: auto;
}

#copyright {
	margin: 2em 30%;
	color: #bbb;
}